# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/
ENV/
env/

# Django stuff
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Migrations except __init__.py
**/migrations/
!**/migrations/__init__.py

# Secrets & environment
.env
*.env

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store

# Test and coverage
htmlcov/
.coverage
.pytest_cache/
.tox/
pytest.ini

# Node stuff (if using npm/yarn for static files)
node_modules/
__pycache__/
*.py[cod]

